/*
c-nav
 */
.c-nav {
  border-top: 3px solid $base-black;
  border-bottom: 3px solid $base-black;
  z-index: 10;
  background-color: $base-white;

  @include link_color($base-black) {
    text-decoration: none;
  }
  &-wrap {
    @extend .container;
  }
  &-logo {
    @extend .col-6;
    p, h1 {
      @extend .m-0;
      font-size: 42px;
      padding-bottom: 5px;
      line-height: 1.1;
      font-weight: 500;
      transition: 1s;

    }
  }
  &-nav {
    @extend .col-6;
    @extend .align-self-center;
    @extend .hidden-sm-down;
    font-size: 1.2rem;
    padding-top: 5px;
    ul {
      @extend .m-0;
      @extend .p-0;
      li {
        list-style: none;
        display: inline-block;
        &:before {
          content: "/";
          padding: 0 10px;
        }

        &:last-child:after {
          content: "/";
          padding: 0 10px;
        }
      }
    }
    &__bottom {
      @extend .col-6;
      display: block !important;
      padding: .5rem;
      a {
        vertical-align: center;
      }
    }
    &__sp {
      @extend .hidden-md-up;
      @extend .col-7;
      text-align: right;
      position: inherit;
      button {
        background-color: transparent;
        border-radius: 0;
        border: none;
      }
      .title {
        border-bottom: 4px solid $base-black;
        text-align: left;
        font-size: 3rem;
        font-weight: 500;
      }
      ul {
        text-align: left;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          border-bottom: 4px solid $base-black;
          padding: 1rem 0;
        }
      }
    }
  }
}

