/*
c-nav
 */
.c-nav{
  border-top: 3px solid $base-black;
  border-bottom: 3px solid $base-black;
  z-index: 10;
  background-color: $base-white;

  @include link_color($base-black) {
    text-decoration: none;
  }
  &-wrap {
    @extend .container;
  }
  &-logo {
    @extend .col-6;
    p,h1{
      @extend .m-0;
      font-size: 42px;
      padding-bottom: 5px;
      line-height: 1.1;
      font-weight: 500;
      transition: 1s;

    }
  }
  &-nav {
    @extend .col-6;
    @extend .align-self-center;
    @extend .hidden-sm-down;
    font-size: 1.2rem;
    padding-top: 5px;
    ul {
      @extend .m-0;
      @extend .p-0;
      li {
        list-style: none;
        display: inline-block;
        &:before {
          content: "/";
          padding: 0 10px;
        }

        &:last-child:after {
          content: "/";
          padding: 0 10px;
        }
      }
    }
    &__bottom{
      @extend .col-6;
      display: block!important;
      padding: .5rem;
      a{
        vertical-align: center;
      }
    }
    &__sp{
      @extend .hidden-md-up;
      @extend .col-7;
      text-align: right;
      position: inherit;
      button{
        background-color: transparent;
        border-radius: 0;
        border: none;
      }
    }
  }
}


#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る*/
  max-width: 330px;/*最大幅*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
