.l-page {
  @extend .col-12;
  @extend .col-md-8;
  @include typo;
  margin-bottom: 2rem;
  h1,h2,h3{
    word-wrap: break-word;
  }
  .entry-header {
    overflow: hidden;

    &:after {
      content: "===";
    }
  }
  .entry-footer {
    &:before {
      content: "===";
    }
    span {
      display: block;
      margin-top: 2rem;
    }
  }

  a {
    border-bottom: 2px solid;
    text-decoration: none;
  }

  &.index, &.archive {
    .page-title {
      color: $base-black;
    }
    article {
      position: relative;
    }
    time {
      font-style: italic;
    }
    h1, h2 {
      font-size: 1.5rem;
      margin: 0;
      color: $base-white;
    }

    dt {
      background-color: $base-white;
      color: $base-black;
      text-align: center;
      img {
        width: 100%;
        max-width: 300px;
      }
      i {
        &:before {
          font-size: 30vw;
          @include media-breakpoint-up(md) {
            font-size: 10rem;
          }
        }
      }
    }
    dd {
      @extend .m-0;
      padding: 0 1rem;
      border-top: 1px solid $base-black;
      color: $base-white;
      &:first-child {
        background-color: $base-black;
      }
    }
  }

  &--post_img {
    img {
      width: 100%;
      max-width: 500px;
      max-height: 300px;
    }
  }

}